services:
  postgres:
    image: postgres:16-alpine
    container_name: estoque_domestico_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: estoque_domestico
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
